                    
                    <div class="modal-body">
                        <p>Update Signing Request info.</p>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Order Number</label>
                                    <input type="text" class="form-control" name="orderNumber" placeholder="Order Number" value="{{ $signingsrequests->orderNumber }}" data-parsley-required="true"  data-parsley-required-message="Please fill order number">
                                    <input type="hidden" name="csrf-token" value="{{ csrf_token(); }}" />
                                    <input type="hidden" name="orderID" value="{{ $signingsrequests->orderID }}" />
                                </div>
                                <div class="col-md-6">
                                    <label>Type of Signing</label>
                                    <select class="form-control" name="typeofSigning"  data-parsley-required="true"  data-parsley-required-message="Please select type of signing">
                                        <option value="">Select</option>
                                        <option value="Purchase"
                                         @if( !empty( $signingsrequests->typeofSigning == "Purchase" ) ) selected @endif >Purchase</option>
                                        <option value="Refinance"
                                        @if( !empty( $signingsrequests->typeofSigning == "Refinance" ) ) selected @endif >Refinance</option>
                                        <option value="Seller"
                                        @if( !empty( $signingsrequests->typeofSigning == "Seller" ) ) selected @endif >Seller</option>
                                        <option value="Single Document"
                                        @if( !empty( $signingsrequests->typeofSigning == "Single Document" ) ) selected @endif >Single Document</option>
                                    </select>
                                </div>
                                
                                
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Service Type</label>
                                    <select class="form-control" name="serviceType"  data-parsley-required="true" data-parsley-required-message="Please select service type">
                                        <option value="">Select</option>
                                        <option value="Full Digitial RON E-closing"
                                        @if( !empty( $signingsrequests->serviceType == "Full Digitial RON E-closing")) selected @endif >Full Digitial RON E-closing</option>
                                        <option value="Docusign Only (No E-Notary Required)"
                                        @if( !empty( $signingsrequests->serviceType == "Docusign Only (No E-Notary Required)")) selected @endif 
                                        >Docusign Only (No E-Notary Required)</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label>Borrower 1 Name</label>
                                    <input type="text" class="form-control" name="borrowe1Name" placeholder="Borrower 1 Name" value="{{ $signingsrequests->borrowe1Name }}" data-parsley-required="true"  data-parsley-required-message="Please fill Borrower 1 Name">
                                   
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Borrower 1 Email</label>
                                    <input type="email" class="form-control" name="borrower1Email" placeholder="Borrower 1 Email" value="{{ $signingsrequests->borrower1Email }}" data-parsley-required="true" data-parsley-required-message="Please fill Borrower 1 Email">
                                   
                                </div>
                                <div class="col-md-6">
                                    <label>Borrower 1 Cell #</label>
                                    <input type="text" class="form-control" name="borrower1Cell" placeholder="Borrower 1 Cell #" value="{{ $signingsrequests->borrower1Cell }}" data-parsley-required="true" data-parsley-required-message="Please fill Borrower 1 Cell #">
                                   
                                </div>
                                
                                
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Borrower 2 Name</label>
                                    <input type="text" class="form-control" name="borrowe2Name" placeholder="Borrower 2 Name" value="{{ $signingsrequests->borrowe2Name }}" data-parsley-required="false">
                                   
                                </div>
                                <div class="col-md-6">
                                    <label>Borrower 2 Email</label>
                                    <input type="email" class="form-control" name="borrower2Email" placeholder="Borrower 2 Email" value="{{ $signingsrequests->borrower2Email }}" data-parsley-required="false">
                                   
                                </div>
                                
                                
                                
                            </div>
                        </div>
                     
                        
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Borrower 2 Cell #</label>
                                    <input type="text" class="form-control" name="borrower2Cell" placeholder="Borrower 2 Cell #" value="{{ $signingsrequests->borrower2Cell }}" data-parsley-required="false">
                                   
                                </div>
                                <div class="col-md-6">
                                    <label>Property Address</label>
                                    <input type="text" class="form-control" name="propertyAddress" placeholder="Property Address" value="{{ $signingsrequests->propertyAddress }}" data-parsley-required="true"  data-parsley-required-message="Please fill property address">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                 <div class="col-md-6">
                                    <label>City</label>
                                    <input type="text" class="form-control" name="city" placeholder="Property City"  value="{{ $signingsrequests->city }}" data-parsley-required="true"  data-parsley-required-message="Please fill property city">
                                   
                                </div>
                                <div class="col-md-6">
                                    <label>State</label>
                                    <input type="text" class="form-control" name="state" placeholder="Property State"  value="{{ $signingsrequests->state }}" data-parsley-required="true"  data-parsley-required-message="Please fill property state">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                 <div class="col-md-6">
                                    <label>Zip Code</label>
                                    <input type="text" class="form-control" name="zip" placeholder="Property Zip Code"   value="{{ $signingsrequests->zip }}"  data-parsley-required="true"  data-parsley-required-message="Please fill property zip code">
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                    <script type="text/javascript">
                        croppify();
                    </script>